{% extends 'base/base.html' %}

{% block head_css %}
{{ block.super }}
{% endblock %}

{% block topnav %}
  {% include "base/topbar.html" %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section class="content journal">
  <h1>Add new journal</h1>
    <div class="errors">
      {{form.errors}}
    </div>
    
    <form method="post" id="journalForm">
        {% csrf_token %}
        <div class="mb-3">
            <label>Topic:</label>
            {{ form.topic }}
        </div>

        <input type="hidden" name="logs" id="id_logs">

        <div id="logs-container"></div>

        <button type="button" class="btn btn-secondary" onclick="addLogBlock()">+ Add Summary Block</button>
        <hr>
        <span class="text-danger">* separate each tag with ' '(space)</span>
        <input id="tags" type="text" name="tag" class="form-control tag-input mb-1" placeholder="tag">
        <button type="submit" class="btn btn-primary" onclick="prepareJson()">Save Journal</button>
    </form>
</section>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/journal_create.js' %}"></script>
{% endblock %}