{% extends 'base/base.html' %}

{% block head_css %}
{{ block.super }}
{% endblock %}

{% block topnav %}
  {% include "base/topbar.html" %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<section class="content journal">
  <h1>List all journals</h1>
  {% for journal in journals %}
    <div class="record-block">
      <h4 class="created">{{journal.created_at}}</h4>
      <h4 class="updated">{{journal.updated_at}}</h4>
      <h3 class="topic">{{journal.topic}}</h3>
      
      <div class="text">
        {% for onelist in journal.text %}
          <ul>
            {% for item in onelist %}
              <li>{{item}}</li>
            {% endfor %}    
          </ul>
          <br>
        {% endfor %}
      </div>
      
    </div>
  {% endfor %}
</section>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}